<br>

<div class="footer_bar">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="footer_bar_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
          <div class="copyright order-md-1 order-2 text-center">
            Copyright ©<script>
              document.write(new Date().getFullYear());

            </script>2022 All rights reserved |
            <a href="" target="_blank">ad Properties</a>
          </div>
          <nav class="footer_nav order-md-2 order-1 ml-md-auto">
              <nav class="footer_nav order-md-2 order-1 ml-md-auto">
                <ul class="nav justify-content-end">
                  <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                  </li>
                </ul>
              </nav>
              
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
