<br />
<div class="bread text-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-sm-6">
    <img src="assets/img/gallery/whoweare.png" alt="" width="100%" />
  </div>
  <div class="col-sm-6">
    <br />
    <p>THE BEST DEAL</p>
    <h1>Who we are</h1>
    <p>
      Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent
      vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla
      lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non
      placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at
      vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus
      in
    </p>
    <button class="btn btn-dark">See More</button>
  </div>
</div>
<br />
<br />
<div class="text-center">
  <p>THE BEST DEAL</p>
  <h2>Our Services</h2>
</div>
<br />
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Price Consulting</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Real Estate</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Consulting</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-dark">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<br />
<hr>
<div class="row text-center bg- numbers">
  <div class="col-sm-3">
    <p></p>
    
    <h4>4</h4>
    <img src="/assets/img/Icons/plots.png">
    <h4>Homes Sold</h4>
    <p></p>
  </div>
  <div class="col-sm-3">
    <p></p>
    
    <h4>2</h4>
    <img src="/assets/img/Icons/home.png">
    <h4>Rented</h4>
    <p></p>
  </div>
  <div class="col-sm-3">
    <p></p>
    
    <h4>3</h4>
    <img src="/assets/img/Icons/home.png">
    <h4>Plots Sold</h4>
    <p></p>
  </div>
  <div class="col-sm-3">
    <p></p>
    
    <h4>0</h4>
    <img src="/assets/img/Icons/Shops.png">
    <h4>Shops Rented</h4>
    <p></p>
  </div>
</div>
<hr>
