<br />
<div class="bread text-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>
</div>

<br />
<div class="text-center">
  <p>GET BEST DEAL</p>
  <h2>Get in touch</h2>
</div>
<br />
<hr>
<div class="row">
  <div class="col-sm-4">
    <h3>ad properties</h3>
    <p>
      Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. 
      Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.
    </p>
  </div>
  <div class="col-sm-4">
    <div style="margin-top: 15px;"><img src="/assets/img/Icons/loc.png" alt="" height="40px" width="40px" > <strong>Main Str, no 23, New York</strong> </div>
    <div style="margin-top: 15px;"><img src="/assets/img/Icons/email.png" alt="" height="40px" width="40px"> <strong>+546 990221 123</strong> </div>
    <div style="margin-top: 15px;"><img src="/assets/img/Icons/phone.png" alt="" height="40px" width="40px"> <strong>hosting@contact.com</strong> </div>
  </div>
  <div class="col-sm-4">
    <img src="/assets/img/contactbighome.jpeg">
  </div>
</div>
<hr>

