<app-carousel></app-carousel>
<br>
<div class="row">
  <div class="container text-center">
    <p>THE BEST DEAL</p>
    <h1>Featured Properties</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/img/gallery/home1.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-dark">See Profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title">Jane Doe</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-dark">See Profile</a>
      </div>
      <img class="card-img-bottom" src="assets/img/gallery/home2.jpg" alt="Card image" style="width:100%">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="assets/img/gallery/home3.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-dark">See Profile</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="container text-center">
    <p>THE HOT DEAL</p>
    <h1>Todays Hot Deal</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <img src="assets/img/gallery/home3.jpg" alt="" height="100%" width="100%">
  </div>
  <div class="col-lg-6">
    <div class="hot-deal">
    <div class="price">
      <button class="btn btn-danger">RS-4000000</button>
    </div>
    <div class="hot-title">
      <h2>Indipendent Banglow For Sale</h2>
    </div>
    <h5>280 Doe Meadow Drive Landover, MD 20785</h5>
    <div>
      Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.
    </div>
    <hr>
    <div class="">
      | 1200 SQ feet | 2 Baths | 3 Beds | Parking |
    </div>
  </div>
</div>
</div>